/* ANCHOR Gen Class */
@font-face {
    font-family: 'Baloo Chettan 2';
    font-style: normal;
    font-weight: 400;
    src: local('Baloo Chettan 2 Regular'), local('BalooChettan2-Regular'), url(https://fonts.gstatic.com/s/baloochettan2/v1/vm8udRbmXEva26PK-NtuX4ynWEzv5_d6GJUTlw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
body {
    font-family: 'Baloo Chettan 2';
}
.flex {
    display: flex;
}
.wrap {
    flex-wrap: wrap;
}
.para-color {
    color: #12919D;
}
.title-color {
    color: #f76c6c;
}
body {
    background-color: #FFFAFA;
}
h1 {
    font-size: 1.9em;
    color: #12919D;
    text-transform: uppercase;
}
h2 {
    font-size: 1.8em;
    color: #12919D;
    text-transform: uppercase;
}
h3 {
    font-size: 35px;
    color: #F76C6C;
    text-align: center;
    margin-top: 20px;
}
h4 {
    margin-top: 0;
    font-size: 20px;
}
hr {
    width: 66%;
    border: solid 0.5px #F76C6C;
    margin-top: 50px;
    margin-bottom: 50px;
}
/* ANCHOR  Header */
header {
    position: sticky;
    top: 0px;
    z-index: 1;
    background: snow;
    border-bottom: #f76c6c 1px solid;
}
header > nav {
    padding-top: 15px;
    position: sticky;
}
.mobile-menu {
    display: none;
}
.logo {
    width: 10%;
}
.logo > img {
    width: 100%;
}
.nav-menu {
    width: 75%;
    justify-content: space-around;
    align-items: center;
}
.nav-button {
    width: 25%;
    justify-content: center;
    align-items: center;
}
.nav-menu > a {
    text-decoration: none;
    font-size: 1.7em;
    text-transform: uppercase;
}
.nav-menu > a:hover {
    color: #006B77;
}
.reserve-button {
    width: 60%;
    height: 70%;
    font-size: 35px;
    padding: 0;
    background-color: #f76c6c;
    color: #FFFAFA;
    border: 1px solid #f76c6c;
    border-radius: 5px;
}
.mobile-menu-hidden {
    display: none;
}
#toggle-menu {
    width: 100%;
}

@media (max-width: 1025px) {
    .mobile-menu {
        display: unset;
    }
    .nav-menu > .para-color {
        display: none;
    }
    .nav-button {
        display: none;
    }
    .nav-menu {
        width: 100%;
    }
    .logo {
        width: 20%;
    }
    .fas {
        font-size: 25px;
    }
    .burger-menu {
        width: 100%;
        justify-content: space-around;
    }
    .mobile-menu-hidden {
        display: none;  
    }
    .burger-menu > a {
        text-decoration: none;
    }
    #burger-active {
        cursor: pointer;
    }
    .burger-menu {
        flex-direction: column;
        align-items: center;
        background-color: #f76c6c;
        padding-bottom: 5%;
        -webkit-animation-duration: 0.6s;
        -webkit-animation-name: smoothBurger;
        animation-duration: 0.6s;
        animation-name: smoothBurger;
    }
    .burger-menu > a {
        margin-top: 20px;
        text-decoration: none;
        color: snow;
        text-transform: uppercase;
    }
    @keyframes smoothBurger {
        0% { opacity: 0; }
        100% { opacity: 1; }
    }
}
/* ANCHOR CARD Desktop */
h1 {
    text-align: center;
    margin-bottom: 3%;
}
.margin-bottom {
    margin-bottom: 90px;
}
.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 30%;
}
/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 30px 0 rgba(0,0,0,0.3);
}
/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.container2 {
    width:100%; 
}
.container3 {
    background-color: #4a4242;
}
h4 {
    color: white;
    text-align: left;
    padding: 5%;
}
.horaire {
    font-size:  16rem;
    color: white;
    text-align: left;
    padding: 5%;
}

p.CruiseDescription {
    text-align:left;
    margin-left: 7%;
    margin-right: 7%;
} 
p.apartirde {
    text-align:left;
    margin-left: 7%;
    margin-right: 7%;
    margin-bottom:0;
    color: #12919D;
    font-size: 1.2em;

} 
p.prixAdulte {
    text-align:center;
    margin-left: 7%;
    margin-right: 7%;
    font-size: 50px;
    margin-top:0;
    margin-bottom:10%;
    font-weight: bold;
    color: #12919D;
} 
p.prixEnfant {
    text-align:left;
    margin-left: 7%;
    margin-right: 7%;
    font-size: 30px;
    margin-top: 0;
}
.ctabook {
    text-align:center; 
}
a.bouton1 {
    padding: 20px;  
    background: #F76C6C; 
    color: white; 
    text-decoration: none;
    -moz-border-radius:12px 12px;
    -webkit-border-radius:10px 12px;
    border-radius:12px 12px;
}  
a.bouton1:hover {
    background: #F75C6C; 
    text-decoration: none;
}
.card-mob {
    display: none;
}
/* css Mobile */
@media screen and (max-width: 768px) {
    .container {
        display: none;
    }
    #descmobile1 {
        display: none;
    }
    #descmobile2 {
        display: none;
    }
    #descmobile3 {
        display: none;
    }
    .card-mob {   
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width: 80%;
        margin-top: 4%;
        display: inline-block;
    }
    .card-mob:hover {
        box-shadow: 0 8px 30px 0 rgba(0,0,0,0.3);
    }
    .container-mob {
        padding: 2px;
        justify-content:space-around;
        align-items: center;
        flex-direction: column;
    }
    .container2-mob {
        padding: auto;
        align-items: center;
        margin-bottom: 5%;

    }
    .depart-mob, p.duree {
        font-size:  16px;
        color: black;
        text-align: left;

        margin-top: 10px;
    } 
    .horaire-mob {
        font-size:  16px;
        color: black;
        text-align: left;

        margin-top: -20px;
        margin-bottom: -5px;
    }
    p.duree {
        margin-left:1em; 
        background-color: black;
        color: white;
    }
    .ctabook-mob {
        text-align:center; 
    }
    a.bouton1-mob {
        padding: 20px;  
        background: #F76C6C; 
        color: white; 
        text-decoration: none;
        -moz-border-radius:12px 12px;
        -webkit-border-radius:10px 12px;
        border-radius:12px 12px;
    }
    a.bouton1-mob:hover {
        background: #F75C6C; 
        text-decoration: none
    }
    #descmobile {   
        margin-top: 5px;
    }
    .depart-mob {
        text-decoration: none;
        background-color: black;
        color: white;
    }
    .image-mob {
        position: relative;
    }
    .image-mob .description-mob {
        position: absolute;
        text-align: center;
        font-family: Georgia;
        top: 30%;
        color: white;
        width: 100%;
    }
    .container3-mob {
        text-align:center;
        margin: 10%;
        margin-top: 3%;
        margin-bottom: 9%;
    }

    h3.MobCardTitle {
        color: #F76C6C;
        font-size: 250%;
        text-align: center;

        margin-top: 20px;
        margin-bottom: 0;
    }
    button {
        background-color: #12919D; 
        padding: 6%;
        border: none;
        width: 100%;
        border-color: #12919D;
        margin-top: 2%;
        color: white;
        font-size: 100%;
    }
}
/* ANCHOR   Team */
h2.SectionTitle {
   text-align:center;
   
}
ul.AllMembers {
  display:flex; 
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

li.LiMember {
  text-align:center;
  margin-bottom: 50px;
}

p.name {
  font-size: 20px;
  color:#12919d;
  margin-bottom: 0;
}

p.job {
  font-size: 20px;
  color: #f76c6c; 
  font-weight: bold;
  margin-top: 0;
}



.MemberA {
  width: 30px;
  align-items: left;

  
}


img.Member {
  border-radius: 50%;
  width: 300px;
  height: 300px;
}

p.prenom {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  
}

.Member span {
  visibility:hidden; 
}

.Member img:hover + span {
  visibility:visible;
}

/* mobile team css */

@media screen and (max-width: 768px) {
  ul.AllMembers {
    display:flex; 
    flex-direction: column;
	flex-wrap: nowrap;
    align-items: center;
    list-style: none;
    padding: 0;
  }
}

/* ANCHOR   Form */

.formContainer h2{
    display: flex;
    justify-content: center;
}

form{
    width: 30%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    
}

form label{
    color: #12919D;
    margin-bottom: 5px;
    
}

form input{
    width: 100%;
    margin-bottom: 10px;
}

form textarea {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.formitem{
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    margin-top: 5px;
}

.buttoncontainer{
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

.button  {
    background: #12919D; 
    color: white; 
    text-decoration: none;
    -moz-border-radius:12px 12px;
    -webkit-border-radius:10px 12px;
    border-radius:12px 12px;
    width: 40%;
    
}

.button:hover{ 
    background: #f76c6c; 
    color: white; 
    text-decoration: none;
    -moz-border-radius:12px 12px;
    -webkit-border-radius:10px 12px;
    border-radius:12px 12px;
    width: 40%;
}

input {
    height: 40px;
    background-color: none;
    margin: 10px;
    font-style: italic;
}


input:focus {
	outline-color:#12919D;
    background-color: none;
}

@media (max-width: 1025px) {
    form{
        width: 60%;
    }

    .names div{
        width: 48%;
    }
    
    .names {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

   ::placeholder{
        font-size: 75%;
    }
}
.contact-section {
    width: 90%;
    justify-content: center;
    align-items: center;
}
.contact-title {
    margin-bottom: 50px;
    text-align: center;
}
.contact-map {
    width: 70%;
    justify-content: center;
}
.contact-text {
    width: 30%;
}
.contact-step {
    text-transform: uppercase;
    font-size: 1.3em;
}
.contact-text > p > a > .fab {
    margin-right: 15px;
    color: #12919D;
    font-size: 40px;
}
.contact-text > p > a > .fab:hover {
    color: #f76c6c;
}
.section-margin {
    margin-bottom: 50px;
}
@media (max-width : 769px) {
    .contact-section {
        width: 100%;
        justify-content: space-between;
        flex-direction: column;
    }
    .contact-map {
        width: 100%;
    }
    .contact-text {
        width: 100%;
        text-align: center
    }
}
/* ANCHOR Footer */
footer {
    margin-bottom: 0;
}
footer > ul {
    margin-bottom: 0;
}
.liste-footer {
    display: flex;
    justify-content: space-evenly;
    text-transform: uppercase;
    list-style: none;
    padding: 15px;
    background-color: #f76c6c;
    color: snow;
    padding: 1%;
}
.liste-footer > li > a {
    text-decoration: none;
    color: snow;
}
.liste-footer > li > a:hover {
    color: #12919D;
}
@media (max-width : 768px) {
    .liste-footer {
        flex-direction: column;
        justify-content: unset;
        align-items: center;
    }
    .liste-footer > li {
        margin-bottom: 10px;
    }
}
