/* Gen Class */
.flex {
    display: flex;
}
.para-color {
    color: #12919D;
}
.title-color {
    color: #f76c6c;
}
/* TODO Header */

/* TODO  Card */

/* TODO  Team */

/* TODO  Form */

/* TODO  Plan */

/* TODO  Footer */
