/* Gen Class */
.flex {
    display: flex;
}
.para-color {
    color: #12919D;
}
.title-color {
    color: #f76c6c;
}
/* TODO Header */

/* TODO  Card */

/* TODO  Team */

/* TODO  Form */

form{
    width: 30%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    border: solid 1px black;
}

form input{
    width: 50%;
}

.formitem{
    margin-bottom: 5px;
    margin-top: 5px;
}

.buttoncontainer{
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

.button{
    width: 55px;
    height: 25px;
    border-radius: 5px;
    background-color: #12919D;
}

.button:hover{
    width: 57px;
    height: 5px;
    border-radius: 5px;
    background-color: #F76C6C;
    cursor: pointer;
    height: 25px;
}

/* TODO  Plan */

/* TODO  Footer */
